.email-search-input {
  width: 40vw;
  min-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.admin-orders-container {
  max-width: 1000px !important;
  .table {
    th {
      padding: 1rem;
      background-color: #eff5fb;
      color: #296fa8;
      text-align: center;
    }
    td {
      vertical-align: middle;
      text-align: center;
    }
    td:nth-child(1) {
      width: 20%;
    }
    td:nth-child(2) {
      width: 40%;
    }
    td:nth-child(3) {
      width: 20%;
    }
    td:nth-child(4) {
      width: 20%;
    }
  }
}
