.register-product-form-container {
  display: flex;
  justify-content: center;
  .register-product-form-box {
    width: 40vw;
  }
}

.re-notification {
  background-color: #d6d7ec;
  color: #3c3d7a;
}
