.product-container {
  display: flex;
  justify-content: center;
}

.product-container .product-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    min-width: 400px;
    min-height: 400px;
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
  }
}

.product-container .product-info {
  padding: 0 30px;
  width: 100%;
  .button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
  }
  .edit-content-button {
    margin-right: 10px;
  }
}
