.product-list .list-item {
  display: flex;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #bbb;
  cursor: pointer;
  .product-image {
    width: 200px;
  }
}

.product-list .product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  width: 100%;
}

.product-list .list-link {
  color: black;
}