.product-container {
  display: flex;
  justify-content: center;
}

.product-container .product-img {
  width: 40vw;
  img {
    min-width: 300px;
  }
  button {
    width: 100%;
  }
}

.product-container .product-info {
  padding: 0 30px;
  width: 100%;
  .button-container {
    position: relative;
    width: 100%;
    height: 50px
  }
  .edit-content-button {
    position: absolute;
    right: 0;
  }
}

.product-form .product-categories {
  display: flex;
  .category {
    padding: 0 20px;
    margin: 0 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }
}