.home-content-container {
  position: relative;
  width: 1000px;
  margin: 0 auto;

  .home-slideshow {
    /*album*/
    width: 1000px;
    height: 1100px;
    overflow: hidden;

    .slideshow {
      /*images*/
      width: 2000px;
      height: 1100px;
      display: flex;
      transition-property: transform;
      transition-duration: 1s;

      .slide {
        /*image*/
        width: 1000px;
        height: 1100px;
        position: relative;
        display: flex;
        flex-direction: column;

        .slide-textbox {
          /*color 다르게 할 수 있으면 다르게(맨 나중에)*/
          width: 1000px;
          height: 100px;
          background-color: #ebfffc;
          padding: 1.25rem 1.25rem 1.25rem 1.5rem;

          span {
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
            color: #00947e;
          }

          p {
            font-size: 1rem;
            color: #00947e;
          }
        }

        img {
          width: 1000px;
          height: 1000px;
        }
      }
    }
  }

  .slidebtn-wrap {
    position: absolute;
    width: 1000px;
    margin-top: -550px;

    .slidebtn {
      &,
      &:active,
      &:focus {
        width: 30px;
        height: 30px;
        background-color: teal;
        border: none;
      }

      &:hover {
        background-color: turquoise;
      }

      &:disabled {
        background-color: gray;
      }
    }

    .prev {
      float: left;
    }

    .next {
      float: right;
    }
  }
}

.home-products {
  margin: 5rem 0;
}
.home-product-header {
  & {
    position: relative;
    margin-bottom: 2rem;
    border-bottom: 1px solid #efefef;
  }
  .title {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }
}
.home-product-list {
  min-width: 1000px;
  height: 235px;
  overflow: hidden;
}
.home-product-list-container {
  & {
    grid-gap: 2rem;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    text-decoration: none;
  }
  .image {
    position: relative;
    width: 100%;
    height: 140px;
    overflow: hidden;
  }
  .image-thumbnail {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .description {
    margin-top: 2rem;
  }
  .description-name {
    font-size: 1.2rem;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .description-price {
    font-size: 1rem;
    color: #666;
    margin-top: 0.5rem;
  }
}
