.cart-products {
  width: 60%;
  flex: none;
  .delivery-info {
    width: 100%;
  }
}

.delivery-info {
  & label {
    font-weight: 400;
  }

  & .re-field {
    line-height: 40px;
  }
}

.tile-order-summary {
  width: 40%;
  height: 100%;
}

.field-body .search {
  display: flex;
  .control {
    margin-right: 5px;
    width: 100%;
  }
}

.left-arrow {
  padding: 10px;
}

.re-subtitle {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
