.modal {
  &-header {
    text-align: center;
  }
  &-close {
    position: absolute;
  }
  &-close::before,
  &-close::after {
    background: #000;
  }
  .delete:hover {
    background-color: rgba(10, 10, 10, 0.05);
  }
  &-controller {
    & {
      text-align: center;
    }
    .button + .button {
      margin-left: 0.5rem;
    }
  }
}
