.search-header {
  border-bottom: 1px solid #ddd;
  display: block;
  padding-bottom: 0.7rem;
  margin-bottom: 1.5rem;
}

.search-container {
  margin-right: 1rem;
}

.search-highlight {
  display: inline-block;
  color: #fff;
  background: #485fc7;
}
