<!DOCTYPE html>
<html>
  <head>
    <!-- head -->
    <script src="/static/js/head.js" type="module"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- cdn -->
    <script
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
      defer
    ></script>
    <!-- html -->
    <script src="/static/js/navbar.js" type="module"></script>
    <!-- custom -->
    <script src="account.js" type="module" defer></script>
  </head>
  <body>
    <div id="app">
      <!-- SECTION : START -->
      <section class="section">
        <div class="container content-container">
          <!-- CONTENT : START -->
          <div class="account">
            <div class="account-header">
              <h1 class="title">계정관리</h1>
            </div>
            <div class="account-content">
              <div class="navbar-card columns is-desktop">
                <div class="navbar-card-item column">
                  <a class="navbar-card-menu" href="/account/orders">
                    <div class="navbar-card-menu-icon">
                      <span class="icon has-text-info">
                        <i class="fa-solid fa-credit-card"></i>
                      </span>
                    </div>
                    <div class="navbar-card-menu-body">
                      <p class="title is-3">주문조회</p>
                      <p class="subtitle is-5">
                        지난 주문 내역을 확인, 취소할 수 있습니다.
                      </p>
                    </div>
                  </a>
                </div>
                <div class="navbar-card-item column">
                  <a class="navbar-card-menu" href="/account/security">
                    <div class="navbar-card-menu-icon">
                      <span class="icon has-text-info">
                        <i class="fa-solid fa-user-gear"></i>
                      </span>
                    </div>
                    <div class="navbar-card-menu-body">
                      <p class="title is-3">회원정보 관리</p>
                      <p class="subtitle is-5">
                        회원 정보를 확인, 수정할 수 있습니다.
                      </p>
                    </div>
                  </a>
                </div>
                <div class="navbar-card-item column">
                  <a class="navbar-card-menu" href="/account/signout">
                    <div class="navbar-card-menu-icon">
                      <span class="icon has-text-info">
                        <i class="fa-solid fa-user-slash"></i>
                      </span>
                    </div>
                    <div class="navbar-card-menu-body">
                      <p class="title is-3">회원 탈퇴</p>
                      <p class="subtitle is-5">
                        모든 정보를 안전하게 삭제한 후 탈퇴할 수 있습니다.
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- CONTENT : END -->
        </div>
      </section>
      <!-- SECTION : END -->
    </div>
  </body>
</html>
