<!DOCTYPE html>
<html>
  <head>
    <!-- head -->
    <script src="/static/js/head.js" type="module"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- cdn -->
    <script
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
      defer
    ></script>
    <!-- html -->
    <script src="/static/js/navbar.js" type="module"></script>
    <!-- custom -->
    <script src="/static/js/modal.js" defer type="module"></script>
    <script src="order_list.js" defer type="module"></script>
  </head>
  <body>
    <div id="app">
      <!-- SECTION : START -->
      <section class="section">
        <div class="container">
          <div class="block account-header">
            <h1 class="subtitle is-4">주문조회</h1>
          </div>

          <div class="field is-horizontal">
            <div class="control email-search-input">
              <input
                class="input"
                type="text"
                id="emailInput"
                placeholder="Email로 검색 해주세요"
              />
            </div>
          </div>

          <div class="container admin-orders-container" id="ordersContainer">
            <table class="table is-bordered is-fullwidth">
              <thead>
                <tr>
                  <th>날짜</th>
                  <th>주문정보</th>
                  <th>상태</th>
                  <th>신청</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="4" class="py-5">사용자 정보가 없습니다.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <!-- SECTION : END -->
      <div class="modal" id="modal-js-order-cancel">
        <div class="modal-background" id="modalBackground"></div>
        <div class="modal-content">
          <div class="box">
            <div class="modal-header">
              <p class="is-size-6">
                주문 취소 시 복구할 수 없습니다.<br />
                정말로 취소하시겠습니까?
              </p>
              <button
                class="delete is-large modal-close"
                aria-label="close"
              ></button>
            </div>
            <div
              class="modal-controller is-flex is-justify-content-center mt-5"
            >
              <button class="button" id="submitButton">네</button>
              <button class="button is-primary modal-close-button">
                아니오
              </button>
            </div>
          </div>
        </div>
        <button
          class="modal-close is-large"
          id="modalCloseButton"
          aria-label="close"
        ></button>
      </div>
    </div>
  </body>
</html>
