<!DOCTYPE html>
<html>
  <head>
    <!-- head -->
    <script src="/static/js/head.js" type="module"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- cdn -->
    <script
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
      defer
    ></script>
    <!-- html -->
    <script src="/static/js/navbar.js" type="module"></script>
    <!-- custom -->
    <script src="search.js" type="module" defer></script>
  </head>
  <body>
    <div id="app">
      <!-- SECTION : START -->
      <section class="section">
        <div class="" id="perPage">
          <label for="perPage-select"> 페이지 수: </label>
          <select name="perPage" id="perPage-select">
            <option value="10" selected>10개</option>
            <option value="20">20개</option>
            <option value="50">50개</option>
            <option value="100">100개</option>
          </select>
        </div>
        <div class="container content-container">
          <!-- CONTENT : START -->
          <div class="search-header">
            <h1 class="title">"<b id="searchWord"></b>" 결과 입니다.</h1>
          </div>
          <div class="search-content">
            <div class="container product-content-container" id="productList">
              <!-- CONTENT : START -->

              <!-- CONTENT : END -->
            </div>
          </div>
          <!-- CONTENT : END -->
        </div>
        <div class="" id="totalPage">
          <!-- TOTALPAGE : START -->
          
          <!-- TOTALPAGE : END -->
        </div>
      </section>
      <!-- SECTION : END -->
    </div>
  </body>
</html>
