<!DOCTYPE html>
<html>
  <head>
    <!-- head -->
    <script src="/static/js/head.js" type="module"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- cdn -->
    <script
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
      defer
    ></script>
    <!-- html -->
    <script src="/static/js/navbar.js" type="module"></script>
    <!-- custom -->
    <script src="complete.js" type="module" defer></script>
  </head>
  <body>
    <div id="app">
      <!-- SECTION : START -->
      <section class="section">
        <div class="container content-container">
          <!-- CONTENT : START -->
          <div class="progress-container">
            <span>장바구니</span>
            <span>></span>
            <span>주문결제</span>
            <span>></span>
            <h1>주문완료</h1>
          </div>

          <div class="order-complete-container">
            <div class="box order-complete">
              <div class="complete-message">
                <span class="icon"><i class="fas fa-circle-check"></i></span>
                <span>주문이 완료되었습니다!</span>
              </div>
              <div class="button-container" id="buttonContainer">
                <button class="deepcolor" id="orderDetailButton">
                  주문내역 보기
                </button>
                <button class="lightcolor" id="shoppingButton">
                  쇼핑 계속하기
                </button>
              </div>
            </div>
          </div>
          <!-- CONTENT : END -->
        </div>
      </section>
      <!-- SECTION : END -->
    </div>
  </body>
</html>
