<!DOCTYPE html>
<html>
  <head>
    <!-- head -->
    <script src="/static/js/head.js" type="module" defer></script>
    <!-- cdn -->
    <script
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
      defer
    ></script>
    <!-- html -->
    <script src="/static/js/navbar.js" type="module" defer></script>
    <!-- custom -->
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div id="app">
      <!-- SECTION : START -->
      <section class="section">
        <div class="container content-container">
          <!-- CONTENT : START -->
          <img src="" alt="" />
          <div class="text-wrap">
            <p>스플래시</p>
            <span>남성 정장</span>
            <span>189,000원</span>
            <p>너무 두껍지 않고, 부담스럽지 않은 색상입니다.</p>

            <div>
              <button>장바구니 추가하기</button>
              <button>바로 구매하기</button>
            </div>
          </div>
          <!-- CONTENT : END -->
        </div>
      </section>
      <!-- SECTION : END -->
    </div>
  </body>
</html>
