<!DOCTYPE html>
<html>
  <head>
    <!-- head -->
    <script src="/static/js/head.js" type="module"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- cdn -->
    <script
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
      defer
    ></script>
    <!-- html -->
    <script src="/static/js/navbar.js" type="module"></script>
    <!-- custom -->
    <script src="detail.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- SECTION : START -->
      <section class="section">
        <div class="container detail-container">
          <!-- CONTENT : START -->

          <img
            src="https://cdn.pixabay.com/photo/2019/08/28/09/51/reyban-4436330_960_720.jpg"
            alt="정장 이미지"
          />

          <div class="detail-right-wrap">
            <div class="detail-text-wrap">
              <p class="p-title">스플래시</p>
              <p class="detail-title">남성 정장</p>
              <p class="detail-price">189,000원</p>
              <p class="p-contents">
                너무 두껍지 않고, 부담스럽지 않은 색상입니다.
              </p>
              <div>
                <div class="btn-wrap">
                  <button class="button is-warning is-large">
                    장바구니 추가하기
                  </button>
                  <button class="button is-info is-large">바로 구매하기</button>
                </div>
              </div>
            </div>
          </div>
          <!-- CONTENT : END -->
        </div>
      </section>
      <!-- SECTION : END -->
    </div>
  </body>
</html>
