<!DOCTYPE html>
<html>
  <head>
    <!-- head -->
    <script src="/static/js/head.js" type="module" defer></script>
    <!-- cdn -->
    <script
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
      defer
    ></script>
    <!-- html -->
    <script src="/static/js/navbar.js" type="module" defer></script>
    <!-- custom -->
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div id="app">
      <!-- SECTION : START -->
      <section class="section">
        <div class="container content-container">
          <!-- CONTENT : START -->

          <div class="list-box">
            <img src="" alt="" />
            <h2>아이보리 니트</h2>
            <p>따뜻한 느낌의 남성 니트입니다.</p>
            <span>19,000원</span>
          </div>

          <div class="list-box">
            <img src="" alt="" />
            <h2>남성 정장</h2>
            <p>세련된 느낌의 정장입니다.</p>
            <span>189,000원</span>
          </div>

          <div class="list-box">
            <img src="" alt="" />
            <h2>캐주얼 반팔 코디 남성</h2>
            <p>캐주얼하고 편하게 입을 수 있는 깔끔한 코디 세트입니다.</p>
            <span>13,000원</span>
          </div>

          <div class="list-box">
            <img src="" alt="" />
            <h2>봄, 가을 남자 느낌 물씬 코디</h2>
            <p>편하고 깔끔한 패션을 가져 보세요.</p>
            <span>28,900원</span>
          </div>

          <!-- CONTENT : END -->
        </div>
      </section>
      <!-- SECTION : END -->
    </div>
  </body>
</html>
