<!DOCTYPE html>
<html>
  <head>
    <!-- head -->
    <script src="/static/js/head.js" type="module" defer></script>
    <!-- 구글 OAuth -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- 카카오 OAuth -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- html -->
    <script src="/static/js/navbar.js" type="module" defer></script>
    <!-- custom -->
    <script src="register.js" type="module" defer></script>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div id="app">
      <!-- SECTION : START -->
      <section class="section">
        <div class="container content-container">
          <!-- CONTENT : START -->

          <!-- 회원가입 폼(Form) -->
          <div class="register-user-form-container">
            <form class="box register-user-form-box" id="registerUserForm">
              <p class="title is-5 has-text-primary">환영합니다!</p>
              <div class="field">
                <label class="label" for="fullNameInput">이름</label>
                <div class="control">
                  <input
                    class="input"
                    id="fullNameInput"
                    type="text"
                    placeholder="유재석"
                    autocomplete="on"
                  />
                </div>
              </div>

              <div class="field">
                <label class="label" for="emailInput">이메일</label>
                <div class="control">
                  <input
                    class="input"
                    id="emailInput"
                    type="email"
                    placeholder="abc@example.com"
                    autocomplete="on"
                  />
                </div>
              </div>

              <div class="field">
                <label class="label" for="passwordInput">비밀번호</label>
                <div class="control">
                  <input
                    class="input"
                    id="passwordInput"
                    type="password"
                    placeholder="********"
                    autocomplete="off"
                  />
                </div>
              </div>

              <div class="field mb-5">
                <label class="label" for="passwordConfirmInput"
                  >비밀번호 확인</label
                >
                <div class="control">
                  <input
                    class="input"
                    id="passwordConfirmInput"
                    type="password"
                    placeholder="********"
                    autocomplete="off"
                  />
                </div>
              </div>

              <button class="button is-primary is-fullwidth" id="submitButton">
                회원가입하기
              </button>
            </form>
          </div>

          <!-- CONTENT : END -->
        </div>
      </section>
      <!-- SECTION : END -->
    </div>
  </body>
</html>
