<!DOCTYPE html>
<html>
  <head>
    <!-- head -->
    <script src="/static/js/head.js" type="module"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- cdn -->
    <script
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
      defer
    ></script>
    <!-- html -->
    <script src="/static/js/navbar.js" type="module"></script>
    <!-- custom -->
    <script src="product.js" type="module" defer></script>
  </head>
  <body>
    <div id="app">
      <!-- SECTION : START -->
      <section class="section">
        <div class="container product-content-container">
          <div class="" id="perPage">
            <select name="perPage" class="page-select" id="perPage-select">
              <option value="10">10개</option>
              <option value="20">20개</option>
              <option value="50">50개</option>
              <option value="100">100개</option>
            </select>
          </div>
          <div id="productList"></div>
          <!-- CONTENT : START -->

          <!-- CONTENT : END -->
        </div>
        <div class="" id="totalPage">
          <!-- TOTALPAGE : START -->

          <!-- TOTALPAGE : END -->
        </div>
      </section>
      <!-- SECTION : END -->
    </div>
  </body>
</html>
