<!DOCTYPE html>
<html>
  <head>
    <!-- head -->
    <script src="/static/js/head.js" type="module"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- cdn -->
    <script
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
      defer
    ></script>
    <!-- html -->
    <script src="/static/js/navbar.js" type="module"></script>
    <!-- custom -->
    <script src="product.js" type="module" defer></script>
  </head>
  <body>
    <div id="app">
      <!-- SECTION : START -->
      <section class="section">
        <div class="container product-content-container" id="productList">
          <!-- CONTENT : START -->

          <div class="list-box">
            <a href="#">
              <img
                src="https://cdn.pixabay.com/photo/2016/03/27/19/31/fashion-1283863_960_720.jpg"
                alt="아이보리 니트"
              />
              <div class="list-text">
                <h2>아이보리 니트</h2>
                <p>따뜻한 느낌의 남성 니트입니다.</p>
                <span>19,000원</span>
              </div>
            </a>
          </div>

          <div class="list-box">
            <a href="#">
              <img
                src="https://cdn.pixabay.com/photo/2017/08/10/08/00/suit-2619784_960_720.jpg"
                alt="남성 정장"
              />
              <div class="list-text">
                <h2>남성 정장</h2>
                <p>세련된 느낌의 정장입니다.</p>
                <span>189,000원</span>
              </div>
            </a>
          </div>

          <div class="list-box">
            <a href="#">
              <img
                src="https://cdn.pixabay.com/photo/2013/10/17/18/20/believe-197091_960_720.jpg"
                alt="캐주얼 반팔"
              />
              <div class="list-text">
                <h2>캐주얼 반팔 코디 남성</h2>
                <p>캐주얼하고 편하게 입을 수 있는 깔끔한 코디 세트입니다.</p>
                <span>13,000원</span>
              </div>
            </a>
          </div>

          <div class="list-box">
            <a href="#">
              <img
                src="https://cdn.pixabay.com/photo/2017/08/07/14/19/people-2604321_960_720.jpg"
                alt="봄, 가을 코디"
              />
              <div class="list-text">
                <h2>봄, 가을 남자 느낌 물씬 코디</h2>
                <p>편하고 깔끔한 패션을 가져 보세요.</p>
                <span>28,900원</span>
              </div>
            </a>
          </div>

          <!-- CONTENT : END -->
        </div>
      </section>
      <!-- SECTION : END -->
    </div>
  </body>
</html>
