<!DOCTYPE html>
<html>
  <head>
    <!-- head -->
    <script src="/static/js/head.js" type="module"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- cdn -->
    <script
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
      defer
    ></script>
    <!-- html -->
    <script src="/static/js/navbar.js" type="module"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- custom -->
    <script src="order.js" type="module" defer></script>
  </head>
  <body>
    <div id="app">
      <!-- SECTION : START -->
      <section class="section">
        <div class="container content-container">
          <!-- CONTENT : START -->
          <div class="cart-header">
            <div class="subtitle">
              <p>장바구니 ></p>
            </div>
            <div class="title">
              <p>주문결제</p>
            </div>
            <div class="subtitle">
              <p>> 주문완료</p>
            </div>
          </div>

          <div class="tile is-ancestor">
            <div class="tile is-parent cart-products">
              <div class="box delivery-info">
                <p class="subtitle">배송지 정보</p>
                <div class="field is-horizontal">
                  <div class="field-label">
                    <label for="name" class="label">이름</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <input
                          type="text"
                          class="input"
                          id="name"
                          autocomplete="on"
                          placeholder="이름을 입력해 주세요"
                        />
                      </p>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label">
                    <label for="phoneNumber" class="label">연락처</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <input
                          type="text"
                          class="input"
                          id="phoneNumber"
                          autocomplete="on"
                          placeholder="전화번호를 입력해주세요"
                        />
                      </p>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label">
                    <label for="address2" class="label">주소</label>
                  </div>
                  <div class="field-body">
                    <div class="field search">
                      <p class="control">
                        <input
                          type="text"
                          class="input"
                          id="postalCode"
                          autocomplete="on"
                          readonly
                        />
                      </p>
                      <button
                        class="button is-light is-hovered"
                        id="addressButton"
                      >
                        주소찾기
                      </button>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label no-label"></div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <input
                          type="text"
                          class="input"
                          id="address1"
                          autocomplete="on"
                          readonly
                        />
                      </p>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label no-label"></div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <input
                          type="text"
                          class="input"
                          id="address2"
                          autocomplete="on"
                        />
                      </p>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label">
                    <label for="requestSelect" class="label">요청사항</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="select">
                        <select id="requestSelect">
                          <option value="0" class="select-option">
                            배송 시 요청사항을 선택해 주세요.
                          </option>
                          <option value="1" class="select-option">
                            직접 수령하겠습니다.
                          </option>
                          <option value="2" class="select-option">
                            배송 전 연락바랍니다.
                          </option>
                          <option value="3" class="select-option">
                            부재 시 경비실에 맡겨주세요.
                          </option>
                          <option value="4" class="select-option">
                            부재 시 문 앞에 놓아주세요.
                          </option>
                          <option value="5" class="select-option">
                            부재 시 택배함에 넣어주세요.
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tile is-parent tile-order-summary">
              <div class="box order-summary">
                <div class="header"><p>결제정보</p></div>
                <div class="order-info">
                  <div class="info">
                    <p>주문상품</p>
                    <p class="products-title" id="productsTitle"></p>
                  </div>
                  <div class="info">
                    <p>상품총액</p>
                    <p class="products-price">
                      <span id="productsPrice"></span>원
                    </p>
                  </div>
                  <div class="info">
                    <p>배송비</p>
                    <p><span id="deliveryFee"></span>원</p>
                  </div>
                </div>
                <div class="total">
                  <p>총 결제금액</p>
                  <p class="total-price"><span id="totalPrice"></span>원</p>
                </div>
                <div class="purchase">
                  <button class="button is-info" id="orderCompleteButton">
                    결제하기
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- CONTENT : END -->
        </div>
      </section>
      <!-- SECTION : END -->
    </div>
  </body>
</html>
