<!DOCTYPE html>
<html>
  <head>
    <!-- head -->
    <script src="/static/js/head.js" type="module"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- cdn -->
    <script
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
      defer
    ></script>
    <!-- html -->
    <script src="/static/js/navbar.js" type="module"></script>
    <!-- custom -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js" defer></script>
    <script src="home.js" type="module" defer></script>
  </head>
  <body>
    <div id="app">
      <!-- SECTION : START -->
      <section class="section">
        <div class="container home-content-container">
          <!-- CONTENT : START -->
          <!-- image slide -->
          <div class="swiper mySwiper">
            <div class="swiper-wrapper" id="swiperWrapper"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>

          <div class="home-products">
            <div class="home-product-header">
              <h2 class="title">NEW</h2>
            </div>
            <div class="home-product-list">
              <div
                class="home-product-list-container home-product-list-new"
              ></div>
            </div>
          </div>

          <div class="home-products">
            <div class="home-product-header">
              <h2 class="title">BEST SELLER</h2>
            </div>
            <div class="home-product-list">
              <div
                class="home-product-list-container home-product-list-likes"
              ></div>
            </div>
          </div>

          <!-- CONTENT : END -->
        </div>
      </section>
      <!-- SECTION : END -->
    </div>
  </body>
</html>
