<!DOCTYPE html>
<html>
  <head>
    <!-- head -->
    <script src="/static/js/head.js" type="module"></script>
    <!-- html -->
    <script src="/static/js/navbar.js" type="module"></script>
    <!-- custom -->
    <script src="home.js" type="module" defer></script>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div id="app">
      <!-- SECTION : START -->
      <section class="section">
        <div class="container content-container">
          <!-- CONTENT : START -->
          <div class="div-container">
            <div class="landing" id="landingDiv">
              <h1>랜딩 페이지</h1>
            </div>
            <div class="greeting" id="greetingDiv">
              <h1>안녕하세요!</h1>
            </div>
          </div>
          <!-- CONTENT : END -->
        </div>
      </section>
      <!-- SECTION : END -->
    </div>
  </body>
</html>
