.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing {
  cursor: pointer;
  border: 1px solid red;
  padding: 10px;
}

.greeting {
  cursor: pointer;
  border: 1px solid blue;
  padding: 10px;
  margin-left: 3rem;
}
 
/* Img slide */

.slide{
  
}

.slide li{
  display:block;
  width:90vh;
  height: 1000px;
}

.slide ul:nth-child(1){
  background-color:#cefef7;
}

.slide ul:nth-child(2){
  background-color:#fff4d1;
}

.slide li img{
  width:100%;

}