<!DOCTYPE html>
<html>
  <head>
    <script src="/static/js/head.js" type="module" defer></script>
    <script src="/static/js/navbar.js" type="module" defer></script>
  </head>
  <body>
    <div id="app">
      <!-- SECTION : START -->
      <section class="section">
        <div class="container content-container">
          <!-- CONTENT : START -->

          <!-- 로그인 폼(Form) -->
          <div class="login-form-container">
            <form class="box login-form-box" id="loginForm">
              <p class="title is-5 has-text-info">어서오세요!</p>
              <div class="field">
                <label class="label" for="emailInput">이메일</label>
                <div class="control">
                  <input
                    class="input"
                    id="emailInput"
                    type="email"
                    placeholder="abc@example.com"
                    autocomplete="on"
                  />
                </div>
              </div>

              <div class="field mb-5">
                <label class="label" for="passwordInput">비밀번호</label>
                <div class="control">
                  <input
                    class="input"
                    id="passwordInput"
                    type="password"
                    placeholder="********"
                    autocomplete="on"
                  />
                </div>
              </div>

              <button class="button is-info is-fullwidth" id="submitButton">
                로그인하기
              </button>
            </form>
          </div>

          <!-- CONTENT : END -->
        </div>
      </section>
      <!-- SECTION : END -->
    </div>
  </body>
</html>
