<!DOCTYPE html>
<html>
  <head>
    <!-- head -->
    <script src="/static/js/head.js" type="module"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- cdn -->
    <script
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
      defer
    ></script>
    <!-- html -->
    <script src="/static/js/navbar.js" type="module"></script>
    <!-- custom -->
    <script src="cart.js" type="module" defer></script>
  </head>

  <body>
    <div id="app">
      <section class="section">
        <div class="container">
          <div class="progress-container">
            <h1>장바구니</h1>
            <span>></span>
            <span>주문결제</span>
            <span>></span>
            <span>주문완료</span>
          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-8 is-parent">
            <div class="box cart-container" id="cartContainer">
              <div class="cart-header" id="cartHeader">
                <!-- 전체선택 체크박스 -->
                <input type="checkbox" id="selectCheckbox" />
                <p id="selectAll">전체선택 |</p>
                <p id="cancleAll">선택삭제</p>
              </div>
              <div id="cartItemContainer"></div>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="box order-summary">
              <div class="header">결제정보</div>
              <div class="order-info">
                <div class="info">
                  <p>상품수</p>
                  <p><span id="productsCount"></span>개</p>
                </div>
                <div class="info">
                  <p>상품금액</p>
                  <p><span id="productsPrice"></span>원</p>
                </div>
                <div class="info">
                  <p>배송비 (5만원 이상 구매 시 배송비 무료)</p>
                  <p><span id="deliveryFee"></span>원</p>
                </div>
              </div>
              <div class="total">
                <p>총 결제금액</p>
                <p><span id="productsTotal"></span>원</p>
              </div>
              <!-- JS의 window.location 을 이용해서 페이지 이동을 해야하지만 개발 시 페이지 이동을 위해 a태그 추가
              기능 추가할 때 수정 필요 -->
              <button class="deepcolor" id="orderButton">구매하기</button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
